<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.UsersMapper">

    <!--定义代码片段-->
    <sql id="allColumns">
        id,username,birthday,sex,address
    </sql>

    <insert id="insert" parameterType="org.example.pojo.Users">
        insert into users (username,birthday,sex,address) values (#{userName},#{birthday},#{sex},#{address})
    </insert>
    <insert id="insertBatch">
        insert into users (username,birthday,sex,address)
        values
            <foreach collection="list" item="user" separator=",">
                (#{user.userName},#{user.birthday},#{user.sex},#{user.address})
            </foreach>
    </insert>
    <update id="update" parameterType="org.example.pojo.Users">
        update users set username=#{userName},birthday=#{birthday},sex=#{sex},address=#{address} where id = #{id}
    </update>
    <update id="updateBySet" parameterType="org.example.pojo.Users">
        update users
            <set>
                <if test="userName != null and userName != ''">
                    username = #{userName},
                </if>
                <if test="birthday != null">
                    birthday = #{birthday},
                </if>
                <if test="sex != null and sex != ''">
                    sex = #{sex},
                </if>
                <if test="address != null and address != ''">
                    address = #{address},
                </if>
            </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from users where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete from users
        where id in
            <foreach collection="array" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </delete>
    <select id="getAll" resultType="Users">
        select <include refid="allColumns"/> from users
    </select>
    <select id="getUsersById" parameterType="int" resultType="org.example.pojo.Users">
        select <include refid="allColumns"/> from users where id = #{id}
    </select>
    <select id="getUserByUsername" resultType="org.example.pojo.Users" parameterType="java.lang.String">
        select <include refid="allColumns"/> from users where username like concat('%',#{userName},'%')
    </select>
    <select id="getByCondition" parameterType="org.example.pojo.Users" resultType="org.example.pojo.Users">
        select
            <include refid="allColumns"/>
        from users
        <where>
            <if test="userName != null and userName != ''">
                and username like concat('%', #{userName}, '%')
            </if>
            <if test="birthday != null">
                and birthday = #{birthday}
            </if>
            <if test="sex != null and sex != ''">
                and sex = #{sex}
            </if>
            <if test="address != null and address != ''">
                and address like concat('%', #{address}, '%')
            </if>
        </where>
    </select>
    <select id="getByIds" resultType="org.example.pojo.Users">
        select <include refid="allColumns"/>
        from users
        where id in
            <foreach collection="array" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>
</mapper>